<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p>Hi <span th:text="${name}">John Doe</span>,</p>
<p>
    This is a notification that your Open VSX Personal Access Token <code th:if="${!#strings.isEmpty(tokenName)}" th:text="${tokenName}">Test token</code> has expired as of <strong><span th:text="${#temporals.format(expiryDate, 'MM/dd/yyyy')}">11/14/2025</span></strong>.
</p>
<p>
    For your security, this token has been deactivated and can no longer be used to authenticate or publish extensions to the Open VSX Registry.
</p>
<p>
    To restore access please log in to your Open VSX account, generate a new token, and update your previous integrations.
</p>
<p>
    If you need help or have any questions, feel free to contact us at <a href="mailto:openvsx@eclipse-foundation.org">openvsx@eclipse-foundation.org</a>.
</p>
<p>
    Best,<br />
    Eclipse Foundation<br />
    <em>The Open VSX Team</em>
</p>
</body>
</html>
