# Default values for openvsx test.

name: &name open-vsx-org
environment: &environment test
namespace: &namespace open-vsx-org-test
host: test.open-vsx.org

replicaCount: 1
esReplicaCount: 1

image:
  repository: ghcr.io/eclipsefdn/openvsx-website
  pullPolicy: Always
  # Overrides the image tag whose default is the chart appVersion.
  tag: 6d777ca-570

website:
  jvmArgs: -Dspring.datasource.hikari.maximum-pool-size=5 -Xms512M -Xmx1536M -XX:+AlwaysPreTouch -XX:+HeapDumpOnOutOfMemoryError -XX:+UseStringDeduplication -XX:+ParallelRefProcEnabled -XX:+DisableExplicitGC -XX:+UnlockExperimentalVMOptions -XX:+UnlockDiagnosticVMOptions -Dlog4j2.formatMsgNoLookups=true -Dlog4j.formatMsgNoLookups=true

route:
  timeout: 30s

service:
  type: ClusterIP
  port: 80
  targetPort: 8080

resources:
  limits:
    cpu: 1000m
    memory: 2Gi
  requests:
    cpu: 250m
    memory: 2Gi

# elastic search
es:
  java_opts: -Xms1g -Xmx1g -Dlog4j2.formatMsgNoLookups=true
  resources:
    limits:
      cpu: 1000m
      memory: 2Gi
    requests:
      cpu: 250m
      memory: 2Gi
  storage_class: cephfs-new

# redis
redis:
  name: redis
  replicas: 6
  image:
    repository: redis
    tag: "7.2.10"
    pullPolicy: IfNotPresent
  maxmemory: "256mb"
  resources:
    requests:
      memory: "128Mi"
      cpu: "50m"
    limits:
      memory: "512Mi"
      cpu: "100m"
  persistence:
    storageGi: 1
    storageClass: cephfs-new
  serviceAccountName: redis-cluster-operator-test
  clusterRoleName: redis-cluster-operator-role-cluster-test
  clusterRoleBindingName:  redis-cluster-operator-role-binding-cluster-test
  clusterRoleName: redis-cluster-operator-role-test
  clusterRoleBinding: redis-cluster-operator-role-binding-test

# grafana alloy
alloy:
  alloy:
    configMap:
      create: false
      name: "grafana-alloy-configmap-test"
      key: "config.river"
    env:
      - name: GRPC_ENFORCE_ALPN_ENABLED
        value: "false"
    envFrom:
      - secretRef: 
          name: grafana-cloud-secret-test
      - secretRef: 
          name: redis-secret-test
    extraPorts:
      - name: zipkin
        port: 9411
        targetPort: 9411
  crds:
    create: true
  controller:
    type: "daemonset"
    podLabels:
      app: *name
      environment: *environment
    nodeSelector:
      openvsx-test-alloy: "true"
      openvsx-production-alloy: null
  fullnameOverride: grafana-alloy-test
  namespaceOverride: *namespace

# postgresql
postgresql:
  architecture: standalone

  auth:
    enablePostgresUser: true

    # The database to auto-create
    database: "openvsx-test"

    # Allow the user to create databases
    createDatabase: true

