# Default values for openvsx staging.

name: &name open-vsx-org
environment: &environment staging
namespace: &namespace open-vsx-org-staging
host: premium-staging.open-vsx.org

replicaCount: 1
esReplicaCount: 1

image:
  repository: ghcr.io/eclipsefdn/openvsx-website
  pullPolicy: Always
  # Overrides the image tag whose default is the chart appVersion.
  tag: 6d777ca-570

eks:
  enabled: true  # Switch to false for OKD installations

aws-load-balancer-controller:
  clusterName: eks-staging
  region: eu-central-1
  vpcId: vpc-0285cbfe9bfb7e4fd
  serviceAccount:
    create: false
    name: aws-load-balancer-controller-staging

external-dns:
  namespaced: true 
  provider:
    name: aws
  serviceAccount:
    create: false
    name: external-dns-staging
  txtOwnerId: eks-staging
  extraArgs:
    - --aws-zone-type=public
    - --domain-filter=premium-staging.open-vsx.org
    - --registry=txt
    - --policy=sync

website:
  jvmArgs: -Dspring.profiles.active=mirrormode -Dspring.datasource.hikari.maximum-pool-size=5 -Xms512M -Xmx1536M -XX:+AlwaysPreTouch -XX:+HeapDumpOnOutOfMemoryError -XX:+UseStringDeduplication -XX:+ParallelRefProcEnabled -XX:+DisableExplicitGC -XX:+UnlockExperimentalVMOptions -XX:+UnlockDiagnosticVMOptions -Dlog4j2.formatMsgNoLookups=true -Dlog4j.formatMsgNoLookups=true

service:
  type: ClusterIP
  port: 80
  targetPort: 8080

resources:
  limits:
    cpu: 1000m
    memory: 2Gi
  requests:
    cpu: 250m
    memory: 2Gi

# elastic search
es:
  java_opts: -Xms1g -Xmx1g -Dlog4j2.formatMsgNoLookups=true
  resources:
    limits:
      cpu: 1000m
      memory: 2Gi
    requests:
      cpu: 250m
      memory: 2Gi
  storage_class: gp3

postgresql:
  architecture: standalone
  auth:
    createDatabase: true
    database: openvsx-staging
    enablePostgresUser: true

# redis
redis:
  name: redis
  replicas: 6
  image:
    repository: redis
    tag: "7.2.10"
    pullPolicy: IfNotPresent
  maxmemory: "256mb"
  resources:
    requests:
      memory: "128Mi"
      cpu: "50m"
    limits:
      memory: "512Mi"
      cpu: "100m"
  persistence:
    storageGi: 1
    storageClass: gp3
  serviceAccountName: redis-cluster-operator-staging
  clusterRoleName: redis-cluster-operator-role-cluster-staging
  clusterRoleBindingName:  redis-cluster-operator-role-binding-cluster-staging
  clusterRoleName: redis-cluster-operator-role-staging
  clusterRoleBinding: redis-cluster-operator-role-binding-staging

# grafana alloy
alloy:
  alloy:
    configMap:
      create: false
      name: "grafana-alloy-configmap-staging"
      key: "config.river"
    envFrom:
      - secretRef: 
          name: grafana-cloud-secret-staging
      - secretRef: 
          name: redis-secret-staging
    extraPorts:
      - name: zipkin
        port: 9411
        targetPort: 9411
  crds:
    create: true
  controller:
    type: "daemonset"
    podLabels:
      app: *name
      environment: *environment
    nodeSelector:
      openvsx-staging-alloy: "true"
      openvsx-production-alloy: null
  fullnameOverride: grafana-alloy-staging
  namespaceOverride: *namespace
