{
  "tabWidth": 2,
  "printWidth": 120,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "semi": true,
  "trailingComma": "none",
  "arrowParens": "always",
  "bracketSameLine": true,
  "htmlWhitespaceSensitivity": "strict"
}
