name: Playwright Tests against open-vsx.org
on:
  push:
    branches:
      - production
jobs:
  test:
    permissions:
      contents: none
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          path: open-vsx.org
          persist-credentials: false
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          repository: eclipse/openvsx
          path: openvsx
          persist-credentials: false
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: 18.x
      - name: Install dependencies
        working-directory: ./openvsx/webui
        run: yarn
      - name: Install Playwright Browsers
        working-directory: ./openvsx/webui
        run: yarn playwright install --with-deps
      - name: Get server version
        id: read_version
        run: |
          read -r line < ./open-vsx.org/Dockerfile
          version="${line:19}"
          echo "version=${line:19}" >> "$GITHUB_OUTPUT"
      - name: Wait 10 minutes for deployment
        run: sleep 10m
      - name: Get running server version
        id: running_version
        uses: fjogeleit/http-request-action@1297c6fc63a79b147d1676540a3fd9d2e37817c5 # v1.16.5
        with:
          url: "https://open-vsx.org/api/version"
          method: GET
      - name: Check new server deployment is running
        id: check_version
        run: |
          echo "is_version=${{ steps.running_version.outputs.status == 200 && fromJson(steps.running_version.outputs.response).version == steps.read_version.outputs.version }}" >> "$GITHUB_OUTPUT"
      - name: Run Playwright tests
        if: steps.check_version.outputs.is_version == 'true'
        working-directory: ./openvsx/webui
        run: yarn smoke-tests
      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        if: steps.check_version.outputs.is_version == 'true'
        with:
          name: playwright-report
          path: openvsx/webui/playwright-report/
          retention-days: 30
      - name: Fail smoke test
        if: steps.check_version.outputs.is_version != 'true'
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        env:
          VERSION: ${{ steps.read_version.outputs.version }}
        with:
          script: |
            core.setFailed(`Deployed version is not ${process.env.VERSION}`)
